@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 230 20% 98%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 0%;
    --primary: 30 100% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 80%;
    --secondary-foreground: 0 0% 20%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 30%;
    --accent: 0 0% 100%;
    --accent-foreground: 30 100% 50%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 80%;
    --input: 0 0% 95%;
    --ring: 30 100% 60%;
    --chart-1: 30 100% 50%;
    --chart-2: 0 100% 40%;
    --chart-3: 230 60% 70%;
    --chart-4: 60 100% 50%;
    --chart-5: 240 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 95%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 30 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 40%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 30 100% 60%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 30%;
    --input: 0 0% 10%;
    --ring: 30 100% 60%;
    --chart-1: 30 100% 50%;
    --chart-2: 0 100% 40%;
    --chart-3: 190 100% 60%;
    --chart-4: 60 100% 50%;
    --chart-5: 240 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-vcr text-foreground;
  }

  .pixelated {
    image-rendering: pixelated;
    font-smooth: never;
    -webkit-font-smoothing: none;
  }
}
