@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 10%;
    --card: 0 0% 90%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 85%;
    --popover-foreground: 0 0% 10%;
    --primary: 0 100% 40%;
    --primary-foreground: 0 0% 95%;
    --secondary: 0 0% 70%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 30%;
    --accent: 0 50% 50%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 95%;
    --border: 0 0% 70%;
    --input: 0 0% 85%;
    --ring: 0 100% 50%;
    --chart-1: 0 100% 40%;
    --chart-2: 0 50% 50%;
    --chart-3: 0 25% 60%;
    --chart-4: 0 75% 40%;
    --chart-5: 0 100% 30%;
    --radius: 0.25rem;
  }

  .dark {
    --background: 0 0% 3%;
    --foreground: 0 0% 90%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 100% 35%;
    --primary-foreground: 0 0% 95%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 50% 25%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 0% 95%;
    --border: 0 0% 20%;
    --input: 0 0% 8%;
    --ring: 0 100% 40%;
    --chart-1: 0 100% 35%;
    --chart-2: 0 50% 30%;
    --chart-3: 0 25% 40%;
    --chart-4: 0 75% 25%;
    --chart-5: 0 100% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-vcr text-foreground;
  }

  .pixelated {
    image-rendering: pixelated;
    font-smooth: never;
    -webkit-font-smoothing: none;
  }
}
